@import '../../vars';

.greeting-new-user {
    position: relative;
    left: 0;
    top: 45%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 800px;
    font-size: 25px;
    background-color: rgb(46, 53, 78);
    text-align: center;

    & > *:not(:last-child) {
        margin-bottom: 20px;
    }
    &__title, &__subtitle {
        text-transform: capitalize;
    }
    &__subtitle {
        color: burlywood;
    }
    .blue-color {
        color: $blue-color
    }
    &__closeBtn {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }
}

.greeting-wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: #242424;
}