@import './reset';
@import './vars';

body, html {
    font-family: 'Fira Code', monospace;
    background-color: #242424;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

@import './app';