@import './reset';
@import './vars';

body, html {
    font-family: 'Fira Code', monospace;
    background-color: #242424;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

@import './app';
@import './components/Header/header';
@import './components/Form/form';
@import './components/Input/input';
@import './components/Checkbox/checkbox';
@import './components/Button/button';
@import './components/Login/login';