.homepage {
    padding-bottom: 20px;
    display: flex;
    column-gap: 100px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    &__link {
        padding: 10px;
        border: 1px solid transparent;
        border-radius: 20px;
        font-size: 20px;
        color: rgb(204, 204, 204);
        transition: border ease .5s;

        &:hover {
            border: 1px solid rgb(204, 204, 204);
        }
    }
}

.user {
    padding: 25px;
    border-radius: 30px;
    border: 1px solid rgba(98, 98, 98, 0.78);
    & > *:not(:last-child) {
        margin-bottom: 25px;
    }

    &__title {
        font-size: 25px;
        font-weight: 700;
    }
    &__desc {
        font-size: 22px;
    }
    &__data {
        font-size: 20px;
    }

}